body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    background: rgb(226, 223, 223);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input{
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
button{
    padding: 12px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}
.search {
    margin-bottom: 20px;
}
.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.post:last-child {
    border-bottom: none;
}
.title {
    font-weight: bold;
}